#main
{
	background-color:#fff;
	min-height:800px;
}

.btn-pink
{
	background-color:#f20259;
	color:#fff !important;
	&:hover
	{
		color:#f7f7f7;
		background-color:#f20259;
	}
}

.btn-group-an-scolar-selection, 
.btn-group-semestru-selection,
.btn-group-actiuni-clasa
{
	button
	{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-o-border-radius: 0px;
		border-radius: 0px;
		min-width:210px;
		max-width:210px;
		width:210px;
	}
	.dropdown-menu
	{
		border:none !important;
		li
		{
			background-color:#f20259;
			color:#fff;
			a
			{
				color:#f7f7f7;
				&:hover
				{
					background-color:#f20259;
					color:#fff;
				}
			}
		}
	}
}

.btn-group-actiuni-clasa
{
	button
	{
		padding:10px 14px;
	}
	.dropdown-menu
	{
		left:-3px;
	}
	a
	{
		&:hover
		{
			border:none !important;
			color:#fff !important;
		}
	}
	ul
	{
		width:216px !important; 
	}
}

.title-actions
{
	background-color:#F20259;
	color:#fff;
	padding:0px 0px;
	a
	{
		padding:14px 6px;
		display:inline-block;
		color:#F7f7f7 !important;
		&:hover
		{
			color:#fff !important;
			border-bottom:3px solid #8ed402;
		}
	}
	a.current
	{
		border-bottom:3px solid #adff2f;
	}
}

.box-solid, .box-body, .box-dt
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border: 0px !important;
}

.nota-container
{
	span.value
	{
		font-size:16px;
		font-weight:bold;
		font-style:italic;
		position:relative;
		top:-4px;
		display:inline-block;
	}

	span.separator
	{
		font-size:18px;
	}

	span.date
	{
		font-size:12px;
		top:4px;
		display:inline-block;
	}

	span.exam
	{
		color:#F20259;
	}
}

.absenta-container
{
	span.date
	{
		font-size:14px;
		font-style:italic;
	}
}

span.motivated
{
	color:#000 !important;
}
span.nemotivated
{
	color:#F00 !important;
}

span.media
{
	color:#F20259;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
}

span.medie-clasa
{
	color:#33ADD6;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
}

span.absente-clasa-motivate
{
	color:#33ADD6;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
}

span.absente-clasa-nemotivate
{
	color:#F00;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
}

span.absente-total-materie-motivate
{
	color:#33ADD6;
	font-weight:bold;
	font-style:italic;
}

span.absente-total-materie-nemotivate
{
	color:#F00;
	font-weight:bold;
	font-style:italic;
}

#page-title
{
	margin-top:20px;
	margin-bottom:6px;
	h3
	{
		margin:0px !important;
		padding:0px !important;
		color:#80BF02;
		font-size:32px;
	}	
}

#breadcrumb
{
	margin-top:0px !important;
	margin-bottom:4px !important;
	background:transparent !important;
	.breadcrumb
	{
		margin-bottom:0px;
		background:transparent !important;
		padding:0px 0px;
	}
}

.dt-column-header-filter
{
	.input-group-btn
	{
		button
		{
			padding:6px 4px !important;
		}

	}
	input
		{
			font-size:12px !important;
		}
}
/*
 * PARINTE. MATERIILE-ELEVULUI NOTE SI ABSENTE
 */
#parinte-materii-elev_wrapper,
#parinte-absente-elev_wrapper
{
	#parinte-materii-elev, #parinte-absente-elev
	{
		border:none !important;
		td, th
		{
			border:none !important;
		}
		th
		{
			border-bottom:2px solid #80BF02 !important;
			background-color:#fff !important;
		}
		td
		{
			padding:8px 4px;
			border-bottom:1px solid #5A8601 !important;
		}

		.materia
		{
			font-size:16px;
			font-weight:bold;
		}
		.medie-materie-generala-anuala
		{
			font-size:12px;
		}
		.medie-materie-generala-anuala-value
		{
			font-weight:bold;
			color:#DA0250 !important;
		}
	}
}

#box-profesor-clasele-mele
{
	border:1px solid #8DC51B !important;
	min-height:960px;
	#profesor-clasele-mele
	{
		thead tr th
		{
			background-color:#fff;
		}
		tbody tr td
		{
			background-color:#f7f7f7;
			vertical-align:middle !important;
			color:#000;
		}
	}

	.dt-header-container
	{
		.dt-column-header-filter
		{
			width:100%;
			span
			{
				width:1% !important;
			}
		}
		.dt-header-caption
		{
			min-height:40px;
		}

		.btn-dt-header-search-by-column
		{
			background-color:#fff;
			border: 1px solid #d2d6de;
		}
	}

	table.dataTable thead .sorting,
	table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc
	{
		background-position:right 3px;
	}
}

.show-elev-info
{
	cursor:pointer;
	&:hover
	{
		text-decoration:underline;
	}
}

#profesor-clasa
{
	border:none !important;
	th, td
	{
		border:none !important;
		background-color:#fff !important;
	}
	th
	{
		border-bottom:1px solid #8DC51B !important;
	}
	td
	{
		border-bottom:1px solid #CCC !important;
	}
	td:nth-child(3), td:nth-child(4), td:nth-child(5)
	{
		border-right:1px solid #CCC !important;
	}
	.update-activitate
	{
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
    	padding: 0px 5px !important;
    	background-color:#8DC51B;
    	margin-left:10px;
	}
}

.modal-dialog
{
	.modal-header
	{
		background-color:#FFF !important;
		color:#000 !important;
		border-bottom: none !important;
		h4
		{
			font-size:26px !important;
		}
	}
	.modal-body
	{
		padding:0px 15px !important;
		#elevi-checkboxes-container
		{
			margin:0px 0px 0px 0px;
			.checkbox > label, .form-horizontal .checkbox > label 
			{
				padding-left:20px;
				input
				{
					margin-left:0px !important;
				}
			}
		}
		.checkboxes-group
		{
			padding-top:10px;
		}
		.modal-help
		{
			font-size:13px;
			font-style : italic;
			color:#70c4eb;
			label
			{
				font-size:13px; 
			}
		}
		.checkbox
		{
			margin:2px 0px !important;
		}
	}
	.modal-footer
	{
		padding:4px 6px;
		border-top:none !important;
	}
	.modal-header button.close
	{
		background-image:url("../../imgs/renunta.png") !important;
		width:18px;
		height:18px;
		background-repeat:no-repeat;
	}
}

.ajax-loading-indicator, .ajax-loading-indicator-white
{ 
	display:none;
}

.btn-modal
{
	
	background-repeat:no-repeat;
	background-position:5px center;
	
	text-align:left !important;
	padding:4px 26px !important;
	border-radius: 12px !important;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border:1px solid #363636 !important;
	
}

.btn-pune-absent
{
	background-image:url("../../imgs/pasi.png") !important;
	background-color:#BFFF01 !important;
	&:hover, &:active, &:focus
	{
		background-image:url("../../imgs/pasi.png") !important;
		background-color:#ACE601 !important;
	}
}

.btn-trimite-mesaj
{
	background-color:#BFFF01 !important;
	&:hover, &:active, &:focus
	{
		background-color:#ACE601 !important;
	}
}

.btn-renunta
{
	background-image:url("../../imgs/renunta.png") !important;
	&:hover, &:active, &:focus
	{
		background-image:url("../../imgs/renunta.png") !important;
	}
}

#noteaza-elevi-container
{
	*
	{
		font-size:12px !important;
	}
	.row
	{
		margin-right:0px !important;
		margin-left:0px !important;
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 
		{
	    	padding-left: 0px !important;
	    	padding-right: 0px !important;
		}
	}

	.rand-note
	{
		margin-top:4px;
	}
	.checkbox-elevi
	{
		top:-2px;
	}
	.cbo-nota-elev
	{
		margin:0px 0px 0px 0px !important;
		padding:0px 0px 0px 0px !important;
		height:24px !important;
	}
	.to-date-picker
	{
		margin:0px 0px 0px 0px !important;
		padding:0px 0px 0px 0px !important;
		height:24px !important;
		input.form-control
		{
			margin:0px 0px 0px 0px !important;
			padding:0px 0px 0px 2px !important;
			height:24px !important;
		}
		span.input-group-addon
		{
			margin:0px 0px 0px 0px !important;
			padding:0px 1px 0px 1px !important;
			height:22px !important;
			min-width:initial !important;
		}
	}
	.data-nota-elev
	{
		font-size:10px !important;
	}
}

#uncheck-all-container
{
	padding-left:36px !important;
}

.label-tip-nota
{
	margin-left:6px !important;
	color:#7bc9ec !important;
}

.label-tip-nota:nth-child(1)
{
	margin-left:32px !important;
}

#quick-tool
{
	margin-top:16px;
	p
	{
		padding:0px 10px;
		font-style:italic;
	}
	input.form-control, select.form-control
	{
		font-size:12px !important;
		margin:0px 0px 0px 0px !important;
		padding:0px 0px 0px 2px !important;
		height:24px !important;
	}
	span.input-group-addon
	{
		margin:0px 0px 0px 0px !important;
		padding:0px 1px 0px 1px !important;
		height:22px !important;
		min-width:initial !important;
	}
}

#cbo-nota-comuna
{
	display:inline-block;
	width:90px;
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 2px !important;
	height:24px !important;
}

.btn-copy
{
	padding:0px 4px 0px 4px !important;
	height:24px !important;
	background-color:#c8ff22 !important;
	border:1px solid #ccc;
	font-size:12px;
	font-style:italic;
	&:hover
	{
		background-color:#5D7C01 !important;
		color:#fff;
	}
}

.btn-save
{
	padding:8px 12px 8px 12px !important;
	background-color:#c8ff22 !important;
	border:none !important;
	font-size:13px;
	font-style:italic;
	border-radius: 0px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	&:hover
	{
		background-color:#5D7C01 !important;
		color:#fff;
	}
}

#elevi-checkboxes-container
{
	.row
	{
		margin-right:0px !important;
		margin-left:0px !important;
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 
		{
	    	padding-left: 0px !important;
	    	padding-right: 0px !important;
		}
	}
}

#trimitere-mesaj-clasa-container
{
	*
	{
		font-size:12px !important;
	}
	.form-group
	{
		margin-bottom:4px;
	}
	textarea
	{
		width:100%;
		max-width:100%;
		min-width:100%;
		height:180px;
		max-height:180px;
		min-height:180px;
		overflow:auto;
	}
}

.dt-row-form
{
	h3
	{
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	.close-dt-form
	{
		background-image:url("../../imgs/renunta.png") !important;
		width:18px;
		height:18px;
		cursor:pointer;
	}
	.student-details
	{
		font-style:italic;
	}
}

td
{
	hr
	{
		margin:4px 0px;
	}
}

p.modal-help
{
	font-size:13px;
	font-style : italic;
	color:#70c4eb;
	label
	{
		font-size:13px; 
	}
}

.show-add-message
{
	cursor:pointer;
}

td div.medii span
{
	font-weight:bold !important;
}