<div class="blog-sidebar quick-book">
  <h2 class="no-top-space">Quick booking Here</h2>
  <ul class="nav margin-bottom-40">
   <div class="row">
      
      <li><p><h4>Pick-up Point : {[ point_type ]} </h4></p></li>
      <li>
        <select data-live-search="true" class="select_me selectpicker" ng-change="changePoint(point_type)" ng-model="point_type"
        ng-options="value.id as value.name group by value.group for value in point_types"
        >
        <option data-hidden="true"></option>
        </select>
      </li>
      <li>
        <div ng-show="point_type == 2">
          <select data-live-search="true"  class="select_me selectpicker w100">
            <option ng-repeat="airport in airports" value=" {[ airport.id ]} "> {[ airport.name ]} </option>
          </select>
        </div>

        <div ng-show="point_type==1">
          <textarea ng-model="adress" class="col-md-9 vertical w100">
          </textarea>
        </div>

        <div ng-show="point_type==3">
          <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input type="text" name="postal_code"> class="form-control" placeholder="Postal <code></code>">
          </div>
        </div>

        <div ng-show="point_type==4">
          <textarea ng-model="your_adress" class="col-md-9 vertical w100">
          </textarea>
        </div>
      </li> 
   </div> 

  </ul>
  <!-- CATEGORIES END -->
  <!-- END BLOG TAGS -->
</div>


<link rel="stylesheet" type="text/css" href="components/bootstrap-select/dist/css/bootstrap-select.min.css">
<script src="components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<script type="text/javascript"> 
jQuery(document).ready(function($) {
});
</script>

